@model ProductVM
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    CultureInfo cultureInfo = new CultureInfo("vi-VN");
    ViewBag.MenuClient = MenuClient.Product;
}
<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner h-100">
                    @{
                        var imageFirst = Model.Images.FirstOrDefault();
                    }
                    @foreach(var image in Model.Images)
                    {
                        var css = (image == imageFirst) ? "active" : "";
                        <div class="carousel-item h-100 @css">
                            <img style="object-fit: contain;" class="w-100 h-100 img-product" src="@image.Url" alt="Image">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">@Model.ProductName</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                </div>
            </div>
            @if(Model.PercentDiscount > 0)
            {
                <div class="d-flex align-items-center mb-2">
                    <h3 class="font-weight-semi-bold">@string.Format(cultureInfo, "{0:C0}", Model.PriceAfterDiscount)</h3>
                    <h3 class="font-weight-semi-bold text-danger ml-4"><del>@string.Format(cultureInfo, "{0:C0}", Model.Price)</del></h3>
                </div>
                <p class="mb-1">Giảm giá: @Model.PercentDiscount%</p>
            }
            else
            {
                <h3 class="font-weight-semi-bold mb-2">@string.Format(cultureInfo, "{0:C0}", Model.Price)</h3>
            }
            <a href=""></a>
            <p class="mb-1">Mã hàng: @Model.ProductCode</p>
            <p class="mb-1">Số lượng: @Model.Quantity</p>
            <p class="mb-1">
                Thể loại: 
                @{
                    var cateEnd = Model.Categories.Reverse().FirstOrDefault();
                }
                @foreach(var cate in Model.Categories)
                {
                    <a class="link-in-productdetail" href="@Url.Action("GetByCategory","Products",new {categorySlug = cate.CategorySlug})">@cate.CategoryName</a>
                    if(cate != cateEnd)
                    {
                        <span>, </span>
                    }
                }
            </p>
            <p class="mb-1">
                Tác giả:
                @{
                    var authorEnd = Model.Authors.Reverse().FirstOrDefault();
                }
                @foreach (var author in Model.Authors)
                {
                    <a class="link-in-productdetail" href="@Url.Action("GetByAuthor","Products",new {authorSlug = author.AuthorSlug})">@author.AuthorName</a>
                    if (author != authorEnd)
                    {
                        <span>, </span>
                    }
                }
            </p>
            <p class="mb-2">Thương hiệu: <a class="link-in-productdetail" href="@Url.Action("GetByBrand","Products",new {brandSlug = Model.Brand?.BrandSlug})">@Model.Brand?.BrandName</a></p>
            <p class="mb-2">Số lượt đánh giá: <span class="sum-comment">@Model.SumComment</span></p>
            
            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input id="Quantity" type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <button id="AddToCart" data-productid="@Model.ProductId" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Đánh giá(<span class="sum-comment">@Model.SumComment</span>)</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Mô tả</h4>
                    @Html.Raw(Model.Decription)
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <div class="row">
                        <div id="viewComments" class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-4">Viết đánh giá của bạn</h4>
                            <div id="errorMessage" class="text-danger"></div>
                            <div class="d-flex my-3">
                                <p class="mb-0 mr-2">Đánh giá :</p>
                                <div id="ratingForm" class="text-primary">
                                    <label>
                                        <input type="radio" name="rating" value="1" checked>
                                        <span class="star" style="color: #28a745">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="2">
                                        <span class="star">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="3">
                                        <span class="star">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="4">
                                        <span class="star">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="5">
                                        <span class="star">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="message">Bình luận</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <button id="btnSendComment" class="btn btn-primary px-3">Gửi đánh giá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Các sản phẩm liên quan khác</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @foreach(var product in Model.Products)
                {
                    var image = product.Images.FirstOrDefault();
                        <div style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); border-radius: 10px; overflow: hidden;" 
                            class="card product-item border-0 mb-4">
                            <a asp-action ="Detail" asp-controller="Products" asp-route-productSlug="@product.ProductSlug">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    @if (image != null)
                                    {
                                        <img style="object-fit:cover" class="w-100 img-product" src="@image.Url" alt="">
                                    }
                                    else
                                    {
                                        <img style="object-fit:cover" class="w-100 img-product" src="/contents/Photos/No_Image_Available.jpg" alt="">
                                    }
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3" style="padding: 0.5rem 0 !important">
                                    <h6 class="text-truncate" style="display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;
                                        -webkit-line-clamp: 2;white-space: normal !important; height: 2.4em">
                                        @product.ProductName
                                    </h6>
                                    <div class="d-flex justify-content-center">
                                        @if (product.PercentDiscount > 0)
                                        {
                                            <h6>@string.Format(cultureInfo, "{0:C0}", product.PriceAfterDiscount)</h6>

                                            <h6 class="text-muted ml-2"><del>@string.Format(cultureInfo, "{0:C0}", product.Price)</del></h6>
                                        }
                                        else
                                        {
                                            <h6>@string.Format(cultureInfo, "{0:C0}", product.Price)</h6>
                                        }
                                    </div>
                                    <h6 class="text-center text-primary">Số lượng: @product.Quantity</h6>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a asp-action="Detail" asp-controller="Products" asp-route-productSlug="@product.ProductSlug" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Chi tiết</a>
                                    <a data-productid="@product.ProductId" class="btn btn-sm text-dark p-0 AddToCart">
                                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                                        Thêm
                                    </a>
                                    <a class="btn btn-sm text-dark p-0">
                                        <i class="fas fas fa-heart text-primary mr-1"></i>
                                        Thích
                                    </a>
                                </div>
                            </a>
                        </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const stars = document.querySelectorAll('.star');
            const radioButtons = document.querySelectorAll('input[type="radio"]');

            stars.forEach((star, index) => {
                star.addEventListener('click', function () {
                    radioButtons[index].checked = true; // Check radio button khi sao được click

                    // Đánh dấu các sao trước đó là đã chọn
                    for (let i = 0; i <= index; i++) {
                        stars[i].style.color = '#28a745';
                    }

                    // Đánh dấu các sao sau đó là chưa chọn
                    for (let i = index + 1; i < stars.length; i++) {
                        stars[i].style.color = '#ddd';
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadComment()
            $('.AddToCart').click(function () {
                var productid = $(this).data('productid')
                var formData = new FormData()
                formData.append('productid', productid)
                formData.append('quantity', 1)
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("AddToCart", "Cart")',
                    type: 'POST',
                    data: formData,
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#loader').hide()
                        console.log(response.mesDev)
                        var toast = $(RenderHtmlToastSuccess(response.mesClient))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                        $('#sumcart').text(response.sumItem)
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            message = response.responseJSON.mesClient
                            console.log(response.responseJSON.mesDev)
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
            $('#AddToCart').click(function () {
                var productid = $(this).data('productid')
                var quantity = $('#Quantity').val()
                var formData = new FormData()
                formData.append('productid', productid)
                formData.append('quantity', quantity)
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("AddToCart", "Cart")',
                    type: 'POST',
                    data: formData,
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#loader').hide()
                        console.log(response.mesDev)
                        var toast = $(RenderHtmlToastSuccess(response.mesClient))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                        $('#sumcart').text(response.sumItem)
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            message = response.responseJSON.mesClient
                            console.log(response.responseJSON.mesDev)
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
            $('.btn-minus').click(function () {
                if($('#Quantity').val() <= 0)
                    $('#Quantity').val(1)
            })
            // phần bình luận
            $('#btnSendComment').click(function () {
                var vote = $("input[name='rating']:checked").val();
                var formData = new FormData()
                formData.append('Vote', vote)
                formData.append('Message', $('#message').val())
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("SendComment", "Products", new { area = "", productId = Model.ProductId })',
                    type: "POST",
                    data: formData,
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        $('#errorMessage').html("")
                        var toast = $(RenderHtmlToastSuccess(response.mesClient))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                        LoadComment()
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        $('#errorMessage').html("")
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            if (response.responseJSON.isValid == false) {
                                var err = ""
                                for (var i = 0; i < response.responseJSON.error.length; i++) {
                                    err += `<p>${response.responseJSON.error[i]}</p>`
                                }
                                $('#errorMessage').html(err)
                            }
                            message = response.responseJSON.mesClient
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
        })
        function HideToastAfterShow(toast) {
            setTimeout(function () {
                // tạo hiệu ứng
                toast.addClass('hidden')
                // sau đó ẩn
                setTimeout(function () {
                    toast.remove()
                }, 1000)
            }, 5000)
        }
        function RenderHtmlToastError(message) {
            return `<div class="m-toast-message m-toast-error">
                        <div class="m-toast-icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="m-toast-text">${message}</div>
                        <div class="m-toast-close">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>`
        }
        function RenderHtmlToastSuccess(message) {
            return `<div class="m-toast-message m-toast-success">
                        <div class="m-toast-icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                                <div class="m-toast-text">${message}</div>
                        <div class="m-toast-close">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>`
        }
        function LoadComment() {
            $('#loader').show()
            $.ajax({
                url: '@Url.Action("GetComment", "Products", new { area = "", productId = Model.ProductId })',
                type: "GET",
                catch: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log(response)
                    $('#loader').hide()
                    $('.sum-comment').html(response.length)
                    var htmlComments = ''
                    response.forEach(function(element){
                        var htmlStart = RenderStar(element.vote)
                        htmlComments += `<div class="media mb-4">
                                        <img src="/contents/Photos/user.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6>${element.customerName} <small> - <i>${element.dateCreated}</i></small></h6>
                                            <div class="text-primary mb-2">
                                                ${htmlStart}
                                            </div>
                                            <p>${element.message}</p>
                                        </div>
                                    </div>`
                    })
                    $('#viewComments').html(htmlComments)
                },
                error: function (response) {
                    console.log(response)
                    $('#loader').hide()
                    var message = ""
                    if (response.status == 401)
                        message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                    else if (response.status == 403)
                        message = "Tài khoản của bạn không thể thực hiện chức năng này";
                    else {
                        message = response.responseJSON.mesClient
                    }
                    var toast = $(RenderHtmlToastError(message))
                    $('.m-toast-box').append(toast)
                    HideToastAfterShow(toast)
                }
            })
        }
        function RenderStar(number){
            if(number == 1)
                return `<i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>`
            if(number == 2)
                return `<i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>`
            if (number == 3)
                return `<i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>`
            if (number == 4)
                return `<i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>`
            if (number == 5)
                return `<i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>`
        }
    </script>
}