@model IEnumerable<ProductVM>
@{
    ViewData["Title"] = "Quản trị sản phẩm";
    CultureInfo cultureInfo = new CultureInfo("vi-VN");
    var pagingModel = ViewBag.pagingModel as PagingModel;
    var pageSizes = ViewBag.pageSizes as List<PageSizeModel>;
}
<!-- DataTales Example -->
<div class="card shadow">
    <div class="card-header py-3 text-primary">
        <h4 class="m-0 font-weight-bold text-primary">Quản lý sản phẩm</h4>
    </div>
    <div class="card-header py-2">
        <div class="row">
            <div class="col-sm-6 col-xl-8 py-1">
                <a asp-action="Create" asp-controller="Products" asp-area="Admin" 
                    asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                    Thêm mới
                </a>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex py-1">
                <div class="search mr-2">
                    <form class="form-inline mr-auto w-100 navbar-search" 
                        asp-action="Index" asp-controller="Products" asp-area="Admin" method="get">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control bg-light border-1 small"
                                   placeholder="Tìm theo tên" aria-label="Search"
                                   aria-describedby="basic-addon2" value="@ViewBag.search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <partial name="_PageSizeAdminPartial" model="@pageSizes"></partial>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Slug</th>
                        <th>Số lượng</th>
                        <th>Giá bán</th>
                        <th>Giảm giá</th>
                        <th>Trạng thái</th>
                        <th>Ảnh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        var srcImg = item.Images.FirstOrDefault()?.Url;
                        if (string.IsNullOrEmpty(srcImg))
                            srcImg = "/contents/Photos/No_Image_Available.jpg";
                        var statusProduct = item.IsActive ? "Hiện" : "Ẩn";
                        var discountPercent = item.PercentDiscount == null ? "" : $"{item.PercentDiscount}%";
                        <tr>
                            <td>
                                <a href="#">@item.ProductCode</a>
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductSlug</td>
                            <td>@item.Quantity</td>
                            <td>@string.Format(cultureInfo, "{0:C0}", item.Price)</td>
                            <td>
                                @discountPercent
                            </td>
                            <td>
                                @statusProduct
                            </td>
                            <td>
                                <img class="img-product-admin" src="@srcImg"/>
                            </td>
                            <td>
                                <a href="#">Sửa</a>
                                <a href="#">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <partial name="_PagingAdmin" model="@pagingModel"></partial>
            </div>
        </div>
    </div>

</div>
