@model IEnumerable<AuthorVM>
@{
    var cssActive = Model.Any(a => a.IsActive) ? "show" : "";
}
<a class="d-flex justify-content-between sidebar-collapse @cssActive" data-toggle="collapse" href="#collapseSideBarAuthor" role="button" aria-expanded="false" aria-controls="collapseSideBarAuthor">
    <h5 class="font-weight-semi-bold mb-2">Tác giả</h5>
    <i class="fas fa-sort-down"></i>
</a>
<div class="collapse @cssActive" id="collapseSideBarAuthor">
    <div class="card card-body">
        @foreach (var item in Model)
        {
            var css = item.IsActive ? "item-sidebar-active" : "";
            <div class="item-sidebar @css">
                <a asp-action="GetByAuthor" asp-controller="Products" asp-route-authorSlug="@item.AuthorSlug" class="px-0">
                    @item.AuthorName
                    <span class="">(@item.SumProduct)</span>
                </a>
            </div>
        }
    </div>
</div>