@model IEnumerable<OrderVM>
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    CultureInfo cultureInfo = new CultureInfo("vi-VN");
    var pagingModel = ViewBag.pagingModel as PagingModel ?? new PagingModel();
    var pageSizes = ViewBag.pageSizes as List<PageSizeModel>;
}
<!-- DataTales Example -->
<div class="card shadow">
    <div class="card-header py-3 text-primary">
        <h4 class="m-0 font-weight-bold text-primary">Quản lý đơn hàng</h4>
    </div>
    <div class="card-header py-2">
        <div class="row">
            <div class="col-sm-6 col-xl-8 py-1">
            </div>
            <div class="col-sm-6 col-xl-4 d-flex py-1">
                <div class="search mr-2">
                    <form class="form-inline mr-auto w-100 navbar-search"
                          asp-action="Index" asp-controller="Orders" asp-area="Admin" method="get">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control bg-light border-1 small"
                                   placeholder="Tìm theo mã đơn hàng" aria-label="Search"
                                   aria-describedby="basic-addon2" value="@ViewBag.search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <partial name="_PageSizeAdminPartial" model="@pageSizes"></partial>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Trạng thái</th>
                        <th>Người đặt</th>
                        <th>Người nhận</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Ngày đặt - Ngày nhận</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-primary">
                                <a class="text-primary detail-order" data-orderid="@item.OrderId" style="cursor: pointer;" data-toggle="modal" data-target="#formModalDetail">
                                    @item.OrderCode
                                </a>
                            </td>
                            <td>
                                <a data-orderid="@item.OrderId" data-ordercode="@item.OrderCode" data-statuscode="@item.Status" class="text-primary edit-status"
                                   style="cursor: pointer;" data-toggle="modal" data-target="#formStatus">
                                   @Generation.GenerationStatusOrderString(item.Status)
                                </a>
                            </td>
                            <td>@item.Customer.FullName</td>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Address</td>
                            <td>@item.DateCreated.ToString("dd/MM/yyyy") - @item.DateDelivery.ToString("dd/MM/yyyy")</td>
                            <td>@string.Format(cultureInfo, "{0:C0}", item.TotalAmount)</td>
                            <td>
                                <a data-orderid="@item.OrderId" data-ordercode="@item.OrderCode" 
                                    style="cursor: pointer" class="delete-order">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <partial name="_PagingAdminPartial" model="@pagingModel"></partial>
            </div>
        </div>
    </div>
</div>
<!-- Modal Form Role-->
<div class="modal fade" id="formStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleForm">Thay đổi trạng thái</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="errorRoleMessage" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-form-label">Quyền</label>
                    <select id="statusCodes" name="status" class="form-control">
                        <option value="@((int)StatusOrder.HuyDonHang)">Hủy đơn hàng</option>
                        <option value="@((int)StatusOrder.DaDatHang)">Đã đặt hàng</option>
                        <option value="@((int)StatusOrder.DaThanhToan)">Đã thanh toán</option>
                        <option value="@((int)StatusOrder.DangGiaoHang)">Đang giao hàng</option>
                        <option value="@((int)StatusOrder.GiaoThanhCong)">Giao thành công</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="btnUpdateStatus" type="button" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Form Detail-->
<div class="modal fade" id="formModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleForm">Chi tiết Đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="errorMessage" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Đơn hàng:</p>
                            <p id="orderCode"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Ngày tạo:</p>
                            <p id="dateCreated"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Trạng thái:</p>
                            <p id="status"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p class="flex-shrink-0 pr-1">Ghi chú:</p>
                            <p id="note"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Người đặt:</p>
                            <p id="customerName"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Người nhận:</p>
                            <p id="fullName"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Điện thoại:</p>
                            <p id="phoneNumber"></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="flex-shrink-0 pr-1">Địa chỉ:</p>
                            <p id="address" class="flex-grow-1"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Ngày nhận:</p>
                            <p id="dateDelivery"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>PT thanh toán:</p>
                            <p id="paymentType"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Phí vận chuyển:</p>
                            <p id="transportFee"></p>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <p>Tổng tiền:</p>
                            <p id="totalAmount"></p>
                        </div>
                    </div>
                </div>
                <table class="table-bordered w-100">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Tên sản phẩm</th>
                            <th class="text-center">Hình ảnh</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Đơn giá</th>
                            <th class="text-center">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody id="orderDetail">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="" style="height: 120px; width: 80px; object-fit: cover"/>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var orderId = ''
        var orderCode = ''
        $(document).ready(function () {
            $('.detail-order').click(function () {
                orderId = $(this).data('orderid')
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("GetDetailOrder", "Orders", new { area = "Admin" })' + `?orderId=${orderId}`,
                    type: "GET",
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        $('#orderCode').html(response.order.orderCode)
                        $('#dateCreated').html(response.order.dateCreated)
                        $('#status').html(response.order.status)
                        $('#note').html(response.order.note)
                        $('#customerName').html(response.order.customerName)
                        $('#fullName').html(response.order.fullName)
                        $('#phoneNumber').html(response.order.phoneNumber)
                        $('#address').html(response.order.address)
                        $('#dateDelivery').html(response.order.dateDelivery)
                        $('#paymentType').html(response.order.paymentType)
                        $('#transportFee').html(response.order.transportFee)
                        $('#totalAmount').html(response.order.totalAmount)
                        var htmlOrderDetail = ''
                        response.order.orderDetails.forEach(function(element, index){
                            htmlOrderDetail += `<tr>
                                    <td class="text-center">${index + 1}</td>
                                    <td class="text-center">${element.productName}</td>
                                    <td class="text-center">
                                        <img src="${element.urlImage}" style="height: 120px; width: 80px; object-fit: cover"/>
                                    </td>
                                    <td class="text-right">${element.quantity}</td>
                                    <td class="text-right">${element.price}</td>
                                    <td class="text-right">${element.amount}</td>
                                </tr>`
                        })
                        $('#orderDetail').html(htmlOrderDetail)
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            message = response.responseJSON.mesClient
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
            $('.edit-status').click(function () {
                var statusCode = $(this).data('statuscode')
                $('#statusCodes').val(statusCode)
                orderId = $(this).data('orderid')
                orderCode = $(this).data('ordercode')
            })
            $('#btnUpdateStatus').click(function () {
                if (!confirm(`Bạn có muốn thay đổi trạng thái đơn hàng ${orderCode} không ?`))
                    return
                var formData = new FormData()
                formData.append('status', $('#statusCodes').val())
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("UpdateStatus", "Orders", new { area = "Admin" })' + `?orderId=${orderId}`,
                    type: "POST",
                    data: formData,
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        window.location.href = '@Url.Action("Index", "Orders", new
                        {
                            area = "Admin",
                            search = ViewBag.search,
                            page = pagingModel.currentpage,
                            pagesize = ViewBag.pagesize
                        })'
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            message = response.responseJSON.mesClient
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
            $('.delete-order').click(function(){
                orderId = $(this).data('orderid')
                orderCode = $(this).data('ordercode')
                if (!confirm(`Bạn có muốn xóa đơn hàng ${orderCode} không ?`))
                    return
                $('#loader').show()
                $.ajax({
                    url: '@Url.Action("Delete", "Orders", new { area = "Admin" })' + `?orderId=${orderId}`,
                    type: "POST",
                    catch: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        window.location.href = '@Url.Action("Index", "Orders", new
                        {
                            area = "Admin",
                            search = ViewBag.search,
                            page = pagingModel.currentpage,
                            pagesize = ViewBag.pagesize
                        })'
                    },
                    error: function (response) {
                        console.log(response)
                        $('#loader').hide()
                        var message = ""
                        if (response.status == 401)
                            message = "Yêu cầu bạn đăng nhập để thực hiện chức năng này";
                        else if (response.status == 403)
                            message = "Tài khoản của bạn không thể thực hiện chức năng này";
                        else {
                            message = response.responseJSON.mesClient
                        }
                        var toast = $(RenderHtmlToastError(message))
                        $('.m-toast-box').append(toast)
                        HideToastAfterShow(toast)
                    }
                })
            })
        })
        function HideToastAfterShow(toast) {
            setTimeout(function () {
                // tạo hiệu ứng
                toast.addClass('hidden')
                // sau đó ẩn
                setTimeout(function () {
                    toast.remove()
                }, 1000)
            }, 5000)
        }
        function RenderHtmlToastError(message) {
            return `<div class="m-toast-message m-toast-error">
                                <div class="m-toast-icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="m-toast-text">${message}</div>
                                <div class="m-toast-close">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>`
        }
        function RenderHtmlToastSuccess(message) {
            return `<div class="m-toast-message m-toast-success">
                                <div class="m-toast-icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                        <div class="m-toast-text">${message}</div>
                                <div class="m-toast-close">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>`
        }
    </script>
}
